mixin about({name = "Name here", surname = "Surname", profession = "Graphic designer"} = {})
  section.about
    .about__photo
    h2.about__name= name
    h2.about__surname= surname
    h3.about__profession= profession
