.about {

  &__container-outer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;

    @media (min-width: $desktop-width) {
      margin-left: 23.65339578454333%; // 101px / 427px
      margin-right: 0;
      width: 56.44028103044496%; // 241px / 427px
    }
  }

  &__container-inner {
    position: relative;

    width: 100%;// 56.44028103044496%
    padding: 50% 0;

    border: 1px solid #3d6cb0;
    border-radius: 50%;

    box-sizing: border-box;
  }

  &__photo {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 87%;
    height: 87%;
    margin: auto;

    border-radius: 50%;

    box-sizing: border-box;
    background-color: $dark-blue;
  }

  &__name,
  &__surname,
  &__profession {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  &__name {
    font-size: 2.5rem;// 54px / 16px
    font-family: "Myriad-Pro-Light-SemiExtended";

    @media (min-width: $tablet-width) {
      font-size: 3.375rem;// 54px / 16px
    }

    @media (min-width: $desktop-width) {
      margin-left: 18.50117096018735%;// 79px / 427px
    }
  }

  &__surname {
    font-size: 3rem;
    font-family: "Myriad Pro Bold";
    line-height: .6;

    @media (min-width: $tablet-width) {
      font-size: 4rem;// 64px / 16px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 17.79859484777518%;// 76px / 427px
    }
  }

  &__profession {
    font-size: 1.3rem;
    font-family: "Myriad Pro Bold";
    line-height: 2.9;

    @media (min-width: $tablet-width) {
      font-size: 1.625rem;// 26px / 16px
    }

    @media (min-width: $desktop-width) {
      margin-left: 25.99531615925059%;// 111px / 427px
    }
  }
}