//- Создает блок about

//- Принимает:
  object                        - список строк
    object.name {string}        - имя
    object.surname {string}     - фамилия
    object.profession {string}  - профессия

//- Вызов:
  +about({name: "Name here", surname: "Surname", profession: "Graphic designer"})

mixin about({name = "Name here", surname = "Surname", profession = "Graphic designer"} = {})
  section.about
    .about__container-outer
      .about__container-inner
        .about__photo
    h2.about__name= name
    h2.about__surname= surname
    h3.about__profession= profession
