// Общие стили
html {
  font-size: 14px;
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;

  @media (min-width: $desktop-width-up) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
}