@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "Myriad Pro Regular";
	src: url("./assets/fonts/Myriad_Pro_Regular.woff") format("woff"),
		url("./assets/fonts/Myriad_Pro_Regular.ttf") format("truetype"),
		url("./assets/fonts/Myriad_Pro_Regular.svg") format("svg");
}

@font-face {
	font-weight: bold;
	font-style: normal;
	font-family: "Myriad Pro Bold";
	src: url("./assets/fonts/Myriad_Pro_Bold.woff") format("woff"),
		url("./assets/fonts/Myriad_Pro_Bold.ttf") format("truetype"),
		url("./assets/fonts/Myriad_Pro_Bold.svg") format("svg");
}