// Добавляет обводку элементу для облегчения верстки.
// Принимает $color: цвет линии в любом допустимом для CSS формате | inherit | invert
@mixin outline($color: red) {
  outline: 1px solid $color;
}

// Сбрасывает маркеры и отступы элементов списков
@mixin reset-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
