// Переменные проекта
$mobile-width-up: 480px; // ширина экрана от 480px и выше
$tablet-width-up: 768px; // ширина экрана от 768px и выше
$desktop-width-up: 1280px; // ширина экрана от 1280px и выше

$dark-blue: #3d6cb0;

$main-font-regular: 'Myriad Pro Regular', Arial, sans-serif;