// Правая колонка макета
.right-col {
  @media (min-width: $tablet-width-up) {
    padding-top: 79px;
    width: 50%;
  }

  // Переопределение ширины блока на десктопе в соответствии с pixel perfect
  @media (min-width: $desktop-width-up) {
    width: 56.4878892733564%; // 653px / 1280px
  }
}