.contact {

  &__title {

    &:before {
      background-image: url("./assets/img/svg/icon-contact.svg"); //

      @media (min-width: $desktop-width-up) {
        width: 74px; //
        height: 74px; //
      }
    }

    &:after {
      width: 36.0655737704918%; //
    }
  }

}
