// Блок контакта
.contact {
  margin-bottom: 18px;

  &__table {
    width: 100%;
  }

  &__table td {
    padding: 0;
    padding-bottom: 29px;
  }

  // Левые ячейки таблицы
  &__table td:nth-child(1) {
    font-size: 1.3125rem; // 21px // 16px

    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 700;
  }

  // Правые ячейки таблицы
  &__table td:nth-child(2) {
    font-size: 1.3125rem; // 21px / 16px
  }

}
