//- Создает блок контактов

//- Принимает:
  object                     - список строк
    object.address {string}  - адрес
    object.mail {string}     - электронный ящик
    object.phone {string}    - номер телефона
    object.website {string}  - адрес сайта

//- Вызов:
  +contact({address: "Main Street, City.", mail: "contact@domain.com", phone: "555-555-555", website: "www.yourweb.com"})

mixin contact({address = "Main Street, City.", mail = "contact@domain.com", phone = "555-555-555", website = "www.yourweb.com"} = {})
  section.contact
    table.contact__table
      tbody
        tr
          td Address
          td= address
        tr
          td E-mail
          td= mail
        tr
          td Phone
          td= phone
        tr
          td Website
          td= website
