section.contact
  +hiddenTitle("Contact")
  +captionBlock({class: "caption-block--contact", text: "Contact"})

  table.contact__table
    tbody
      tr
        td Address
        td Main Street, City.
      tr
        td E-mail
        td contact@domain.com
      tr
        td Phone
        td 555-555-555
      tr
        td Website
        td www.yourweb.com