.profile {

  &__title {

    &:before {
      background-image: url("./assets/img/svg/icon-profile.svg");

      @media (min-width: $desktop-width-up) {
        width: 76px;
        height: 74px;
      }
    }

    &:after {
      width: 40.98360655737705%;
    }

  }

  &__description {
    margin: 0;
    margin-bottom: 49px;
  }
}