//- Создает блок profile

//- Принимает:
  description {string} - контент абзаца

//- Вызов:
  +profile("Hello, world!")

mixin profile(description = "")
  section.profile
    - if(description)
        p.profile__description= description
    - else
        p.profile__description
          include ./assets/placeholder.txt
