//- Создает блок заголовка для разделов страницы

//- Принимает:
  title {string} -  текстовое содержимое заголовка блока и по совместительству его модификатор

//- Вызов:
  block-header("education")

mixin block-header(title = "profile")
  -
    if (title != "profile" &&
    title != "contact" &&
    title != "skills" &&
    title != "education" &&
    title != "experience" &&
    title != "software") title = "profile";

  section.block-header
    h2.block-header__title(class = `block-header__title_${title}`)= title
