//- Создает универсальный "доступно" спрятанный заголовок для элементов section
  Принимает:
    text {string} - текстовое содержимое html-элемента

mixin visually-hidden(text)
  h2.visually-hidden= text
