mixin experience(options = [{company: "Company name", job: "Your job here", period: "Feb 2011 - Jun 2014"}])
  section.experience
    h2.experience__title.block-title Experience
    ul.experience__list
      each option in options
        li.experience__list-item
          p.experience__company!= `${option.company}<span>// ${option.period}</span>`
          p.experience__job= option.job
          - if (option.description)
            p.experience__description= option.description
          - else
            p.experience__description
              include ./assets/placeholder.txt