.experience {

  &__list {
    @include reset-list;
  }

  // Заголовок элемента списка
  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 1px;
    padding-left: 30px;

    font-size: 1.6875rem; // 27px / 16px
    font-family: 'Myriad Pro Bold';
    text-transform: uppercase;

    // Изменение внутреннего отступа заголовка на десктопе в соответствии с pixel perfect
    @media (min-width: $desktop-width-up) {
      padding-left: 8.575803981623277%; // 56px / 653px
    }

    // "Черный маркер элемента списка"
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;

      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #000;

      // Изменение положения и размеров маркера на десктопе в соответствии с pixel perfect
      @media (min-width: $desktop-width-up) {
        margin-left: 14px;
        top: 8px;
        width: 20px;
        height: 20px;
      }
    }

    // Блок даты
    span {
      font-family: 'Myriad Pro Regular';
      color: #020202;
      text-transform: none;

      // Изменение внешнего отступа на планшете
      @media (min-width: $tablet-width-up) {
        margin-left: 5px;
      }
    }

    // модификатор заголовка
    &_blue {
      color: $dark-blue;
    }
  }

  // Подзаголовок элемента списка
  &__subtitle {
    margin: 0;
    padding-left: 30px;
    margin-bottom: 4px;

    font-size: 1.6875rem; // 27px / 16px
    font-family: 'Myriad Pro Regular';

    text-transform: uppercase;

    // Изменение внешнего отступа на десктопе в соответствии с pixel perfect
    @media (min-width: $desktop-width-up) {
      padding-left: 8.269525267993874%; // 54px / 653px
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;

    // Изменение внутреннего отступа на десктопе в соответствии с pixel perfect
    @media (min-width: $desktop-width-up) {
      padding-left: 56px;
    }
  }
}