// Левая колонка макета
.left-col {
  @media (min-width: $tablet-width-up) {
    width: 45%;
    padding-top: 91px;
  }

  // Переопределение ширины блока на "десктопе" в соответствии с pixel perfect
  @media (min-width: $desktop-width-up) {
    width: 36.93771626297578%;// 427px / 1280px
  }
}
