//- Создает блок скиллов

//- Принимает:
  object - список чисел
    object.creative {number}      - скилл креативности
    object.teamwork {number}      - скилл командной работы
    object.innovate {number}      - скилл новаторства
    object.communication {number} - скилл коммуникабельности

//- Вызов:
  skills+({creative: 9, teamwork: 11, innovate: 6, communication: 11})

mixin skills({creative = 9, teamwork = 11, innovate = 6, communication = 11} = {})
  //- Верхний предел уровня развития скилла
  -
    const totalPoint = 12;

    if (!isValidArg(creative)) creative = totalPoint;
    if (!isValidArg(teamwork)) teamwork = totalPoint;
    if (!isValidArg(innovate)) innovate = totalPoint;
    if (!isValidArg(communication)) communication = totalPoint;

  //- Проверяет на допустипомость переданное значение уровня скилла
    Принимает:
      arg {number} число от 0 до 12 включительно
    Возвращает:
      true | false

  -
    function isValidArg(arg) {
      if (arg > totalPoint || arg < 0 || typeof arg != "number") return false;
      return true;
    }

  section.skills
    h2.skills__title.block-title
    ul.skills__list
      li.skills__list-item
        h3.skills__item-title Creative
        .skills__points
          //- отрисовка заполненных кругов
          -for (let i = 0; i < creative; i++)
          span.skills__point
          //- отрисовка пустых кругов
          -for (let i = 0, emptyPoint = totalPoint - creative; i < emptyPoint; i++)
          span.skills__point.skills__point_empty

      li.skills__list-item
        h3.skills__item-title Teamwork
        .skills__points
          -for (let i = 0; i < teamwork; i++)
          span.skills__point
          -for (let i = 0, emptyPoint = totalPoint - teamwork; i < emptyPoint; i++)
          span.skills__point.skills__point_empty

      li.skills__list-item
        h3.skills__item-title Innovate
        .skills__points
          -for (let i = 0; i < innovate; i++)
          span.skills__point
          -for (let i = 0, emptyPoint = totalPoint - innovate; i < emptyPoint; i++)
          span.skills__point.skills__point_empty

      li.skills__list-item
        h3.skills__item-title Communication
        .skills__points
          -for (let i = 0; i < communication; i++)
          span.skills__point
          -for (let i = 0, emptyPoint = totalPoint - communication; i < emptyPoint; i++)
          span.skills__point.skills__point_empty


