// Блок скиллов

.skills {
  margin-top: 24px;
  margin-bottom: 50px;

  // Список с прогрессбарами
  &__list {
    @include reset-list;

    // Элемент списка с прогрессбаром
    &-item {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.6875rem; // 27px / 16px
    text-align: center;

    text-transform: uppercase;
    font-weight: 400;

    // Изменение размера шрифта на десктопе
    @media (min-width: $desktop-width-up) {
      font-size: 1.6875rem;
    }
  }

  // Блок с кругами
  &__points {
    display: flex;
    max-width: 332px;
    justify-content: space-between;
    margin: auto;
  }

  // Круг блока
  &__point {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $dark-blue;

    // Пустой элемент прогрессбара
    &_empty {
      background-color: #e6e6e6;
    }
  }
}