extends  blocks/block.templates/index.template.pug
include layout

block keywords
  meta(name="keywords", content="resume writing template, how to create a resume, sample resume, brief personal data, brief biography,> шаблон составления резюме, как правильно составить резюме, пример резюме, краткие анкетные данные, краткая биография, опыт работы, уровень владения программами, скилы графического дизайнера")

block description
  meta(name="description" content="An example of a correct, clear and concise summary of a graphic designer. The resume template includes such sections as: education, profile, work experience, skills, possession of accompanying software and technologies, as well as the contact information of the applicant.")

block title
  title Summary

block content
  main.content
    section.left-col
      +visually-hidden("Photo, first name, last name, profession of applicant, profile, contact, skills")
      +about
      +block-header("profile")
      +profile
      +block-header("contact")
      +contact
      +block-header("skills")
      +skills({creative: 9, teamwork: 11, innovate: 6, communication: 11})

    section.right-col
      +visually-hidden("Education, experience, Level of ownership of programs and technologies")

      +block-header("education")
      +experience([
        {title: "Master degree", subtitle: "University name", period: "Feb 2011 - Jun 2014"},
        {title: "Bachelor degree", subtitle: "Bachelor university", period: "Feb 2014 - Jun 2017"},
        {title: "Doctor degree", subtitle: "Doctor university", period: "Feb 2017 - Jun 2020"},
        {title: "God degree", subtitle: "God university", period: "Feb 2020 - Jun 2023"}
      ])

      +block-header("experience")
      +experience([
        {title: "Company name", subtitle: "Your job here", period: "Feb 2011 - Jun 2014"},
        {title: "Company name", subtitle: "Your job here", period: "Feb 2011 - Jun 2014"},
        {title: "Company name", subtitle: "Your job here", period: "Feb 2011 - Jun 2014"}
      ])

      +block-header("software")
      +software({
        photoshop: 50, indesign: 87, afterEffects: 45,
        htmlCss: 76, dreamweaver: 32, illustrator: 87
      })

  script(src="./scripts.js")