include blocks/visually-hidden/visually-hidden
include blocks/about/about
include blocks/profile/profile
include blocks/contact/contact
include blocks/skills/skills
include blocks/education/education
include blocks/experience/experience
include blocks/software/software