// Контейнер-обертка страницы
.content {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;

  padding: 50px 4% 99px 4%;
  box-sizing: border-box;
  text-align: justify;

  // Смена раскладки страницы на двухколоночную, "начиная с планшета"
  @media (min-width: $tablet-width-up) {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 99px 2%;
  }

  // Переопределение размеров отступов на десктопе в соответствии с pixel perfect
  @media (min-width: $desktop-width-up) {
    padding: 0 60px 99px 4.84375%;
  }
}