include ../skill-progressbar/skill-progressbar
ul.skills__list.skills-list
  li.skills-list__item
    h3.skills-list__title Creative
    +skillProgressBar({level: 9})

  li.skills-list__item
    h3.skills-list__title Teamwork
    +skillProgressBar({level: 11})

  li.skills-list__item
    h3.skills-list__title Innovate
    +skillProgressBar({level: 6})

  li.skills-list__item
    h3.skills-list__title Communication
    +skillProgressBar({level: 11})