mixin education(options = [{degree: "Master degree", university: "University name", period: "Feb 2011 - Jun 2014"}])
  section.education
    h2.education__title.block-title Education
    ul.education__list
      each option in options
        li.education__list-item
          p.education__degree!= `${option.degree}<span>// ${option.period}</span>`
          p.education__university= option.university
          - if (option.description)
            p.education__description= option.description
          - else
            p.education__description
              include ./assets/placeholder.txt