//- Создает блок education

//- Принимает:
  options {array}                          - массив объектов
    options[{object.degree}] {string}      - научная степень
    options[{object.university}] {string}  - место учебы
    options[{object.period}] {string}      - период обучения

//- Вызов:
  +education([{degree: "Master degree", university: "University name", period: "Feb 2011 - Jun 2014"}]

mixin education(options = [{degree: "Master degree", university: "University name", period: "Feb 2011 - Jun 2014"}])
  section.education
    h2.education__title.block-title Education
    ul.education__list
      each option in options
        li.education__list-item
          p.education__degree!= `${option.degree}<span>// ${option.period}</span>`
          p.education__university= option.university
          //- Если указанный аргумент передан, сделать его текстовым содержимым элемента
          	иначе вставить текст по умолчанию из файла
          - if (option.description)
            p.education__description= option.description
          - else
            p.education__description
              include ./assets/placeholder.txt
